<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <title>Gluten_Free Recipes - {% block title %}{% endblock %}</title>
 
  <link rel='stylesheet' href='{{STATIC_URL}}css/style.css'>
  
  <link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">		</style>
  <link rel='shortcut icon' href='{{STATIC_URL}}img/glutenFreeIcon.jpg'>
  {% block style_css %}{% endblock %}

</head>

<div class="container">
  <header>
    <div id="logo"><a href="#"><img src="{{STATIC_URL}}img/logo.png" alt="your logo here" border="0" class="imagedropshadow" /></a></div>
    
    <div class="social"><a href="#"><img src="{{STATIC_URL}}img/facebook.png" alt="Become a fan" width="24" height="24" border="0" class="imagedropshadow" /></a><a href="#"><img src="{{STATIC_URL}}img/twitter.png" alt="Follow on Twitter" width="24" height="24" border="0" class="imagedropshadow" /></a><a href="#"><img src="{{STATIC_URL}}img/myspace.png" alt="Myspace" width="24" height="24" border="0" class="imagedropshadow" /></a><a href="#"><img src="{{STATIC_URL}}img/digg.png" alt="Digg" width="24" height="24" border="0" class="imagedropshadow" /></a></div>
    <h2>Gluten-free cooking...</h2> 
	<nav>
	
      
    <div class="navbutton"><a href="/users">Members </a></div>
	<div class="navbutton"><a href="/about">About Us </a></div>
    <div class="navbutton"><a href="/contact">Contact Us </a></div> 
	<div class="navbutton"><a href="/comments">Comments</a></div>
	<div class="navbutton"><a href="/recipes">Recipes</a></div>
	<div class="navbutton"><a href="/">Home </a></div>
	
    </nav> 
      
    <div class="photo">
    <div class="content">
     </nav> 
     <h3>Gluten-free cooking ...</h3>
    </div>
    </div>
	
	<div id="login"><img src="{{STATIC_URL}}img/Gluten-Free2.jpg" alt="Become a fan" width="200" height="200" border="0" class="imagedropshadow" />
	<h3>Join the gluten-free craze!</h3>
	<!--
  <div id="login"><form method="post" action="http://YOUR_DOMAIN_HERE/login/login.php">
  Username: <input type="text" name="username" size="15" /><br />
  <br />Password: <input type="password" name="passwort" size="15" /><br />
  <div align="center">
  <br /><input type="submit" value="Login" />
  </div>
</form>
<h3>Join All the recipes </h3>
<div class="readbutton"><a href="#">Join Now</a></div>
  </div>  -->
    	
	<div id="main">
 
<details1>
 
 <div>
 
  
 <!-- <body> -->
  
	{% block head %}{% endblock %}
 
 
  
  <section class='body'>
	{% block body %}{% endblock %}
  </section>
  
  <!-- </body> -->

  </div>
 

<div>
 

    <footer>

    <span><a href="/">Home </a></span> <span><a href="/users">Members </a> </span> <span><a href="/recipes">Recipes</a></span>  <span><a href="/comments">Comments</a></span> <span><a href="/about">About Us</a></span> <span><a href="#">Register</a></span>  <span><a href="/contact">Contact Us</a></span>   
    <!--<h5><a href="http://www.imediacreatives.it">Coder &amp; Design Imediacreatives</a></h5> -->     
    <br><br>
	<p>Gluten Free recipes for all &copy;2013</p>  <a href="http://www.imediacreatives.it">Coder &amp; Design Imediacreatives</a></h5>
 
 </footer>  
    </div> 
	 </details1>
	</div>
  </header>    
</div>
<!-- Free template distributed by http://freehtml5templates.com -->

</html>
